/* =====================
   CSS FLEXBOX
   ===================== */

.grid {
   display: flex;
   flex-flow: row wrap;
}

.gutters {
   margin: -10px 0 10px -10px;
}

.gutters > div {
   padding: 10px 0 0 10px;
   flex-grow: 1;
}

.gutters > div > * {
   border: 1px solid rgba(255, 123, 100, .8);
   padding: 10px;
   height: 100%;
}

.half {
   flex-basis: 50%;
}

.third {
   flex-basis: 33.333333%;
}

.fourth {
   flex-basis: 25%;
}

.fifth {
   flex-basis: 20%;
}

.sixth {
   flex-basis: 16.666666%;
}