/* =====================
   CSS FLEXBOX
   ===================== */

.container-custom {
   display: flex;
   flex-flow: row wrap; /* flex-direction and flex-wrap combined */
   justify-content: flex-start;
   align-items: flex-start;
   /*
   * This property aligns items similar to the justify-content property but along the cross axis.
   * Values include: stretch(default) | flex-start | flex-end | center | space-between | space-around
   * This property has no effect when the flex container has a single line only.
   * More info: https://css-tricks.com/almanac/properties/a/align-content/
   */
   align-content: center;
   border: solid 1px green;
   height: 200px;
}

.container-custom div {
   width: 240px;
}